 {% extends 'base.html' %}

{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Student Portal</title>
    <link rel="stylesheet" href="{% static 'css/css/bootstrap.min.css' %}">
</head>
<body>
    
    <div class="container">
        <ol class="breadcrumb my-4">

            {% block breadcrumb %}
            <li class="breadcrumb-item active">PROJECTS</li>
            {% endblock %}
        </ol>

       

        {% block content %}


        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>CATEGORY</th>
                </tr>
            </thead>
            <tbody>
                {% for category in boards %}
                <tr>
                    <td>
                        <a href="{% url 'category_project' category.pk %}">{{ category.name }}</a>
                        <small class="text-muted d-block">{{ category.description }}</small>
                    </td>

                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </div>
</body>
</html>