 {% extends 'base.html' %}

{% load humanize %}

{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Category</title>
    <link rel="stylesheet" href="{% static 'css/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <ol class="breadcrumb my-4">
            {% block breadcrumb %}
            <li class="breadcrumb-item"><a href="{% url 'home'%}">Category</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'category_project'}">{{ boards.name }}</a></li>
            {% endblock %}
        </ol>

        {% block content %}
        <div class="mb-4">
            <a href="{% url 'new_project' boards.pk %}" class="btn btn-primary">New Project</a>
        </div>

        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Topic</th>
                    <th>Level</th>
                    <th>School Name</th>
                    <th>First Participant</th>
                    <th>Second Participant</th>
                    <th>Teacher in Charge's Name</th>
                    <th>Teacher in Charge's Phone</th>
                    <th>Teacher in Charge's Email</th>
                    <th>Principal's Name</th>
                    <th>Principal's Phone</th>
                    <th>Principal's Email</th>
                    <th>Date Posted</th>

                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                {% url 'project_details' boards.pk project.pk as project_url %}
                <tr>
                    <td>
                        <p class="mb-0">
                            <a href="{{ project_url }}">{{ project.topic }}</a>
                        </p>
                        <small class="text-muted">
                            Pages:
                            {% for i in topic.get_page_range %}
                            <a href="{{ project_url }}?page={{ i }}">{{ i }}</a>
                            {% endfor %}
                            {% if project.has_many_pages %}
                            ... <a href="{{ project_url }}?page={{ project.get_page_count }}">Last Page</a>
                            {% endif %}
                        </small>
                    </td>
                    <td>{{ project.level }}</td>
                    <td>{{ project.schoolName }}</td>
                    <td>{{ project.firstParticipant }}</td>
                    <td>{{ project.secondParticipant }}</td>
                    <td>{{ project.teacherInChargeName }}</td>
                    <td>{{ project.teacherInChargePhone }}</td>
                    <td>{{ project.teacherInChargeEmail }}</td>
                    <td>{{ project.principalName }}</td>
                    <td>{{ project.principalPhone }}</td>
                    <td>{{ project.principalEmail }}</td>
                    <td>{{ project.date_posted }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
        <nav aria-label="Projects pagination" class="mb-4">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number}}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                {% endif %}

                {% for page_num in projects.paginator.page_range %}
                {% if page_obj.number == page_num %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ page_num }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}



        <div class="mb-4">
            <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
        </div>

        {% include 'includes/pagination.html' %}


        {% endblock %}


    </div>
</body>
</html>